{% extends 'base.html' %} <!--Inherit from the base.html template-->

{% block title %}Cookies{% endblock %} <!--Page title on browser tab-->

<!--Body block contains the main content of the page-->

{% block body %}

<div class="container"> <!--Puts the body content in a container to improve layout-->
    <h3>Cookie Policy</h3>
    <p>The National Cyber Security Centre (NCSC) uses the statistics program Piwik to analyse which pages are visited most, how visitors arrive at our website and which search terms they enter into the search engine.</p>
    <h3>This website does not use tracking cookies</h3>
    <p>Tracking cookies are cookies that can follow visitors as they surf other websites. This website does not use tracking cookies. The website therefore does not support the DoNotTrack setting in browsers. This site is in compliance with Dutch laws and regulations.</p><h2>Cookies for web statistics and research</h2>
              <p>This website uses cookies for research and web statistics. We do this to understand how visitors use the website. This information helps improve the site by, for example, providing supplemental information or improving ease of use. These types of cookies have no impact on your privacy. They are therefore covered by the exemption from the cookie provision in the Telecommunications Act. Consequentially, we do not request permission to place these cookies.</p><h2>Web statistics</h2>
              <p>This website does not use web statistics. We use the Piwik open source web analysis package for this. By analysing this data, it is possible to better gear the website to its visitors. We do not use the data that is collected for any other purpose than to improve the website.</p><h2>Survey</h2>
              <p>We occasionally conduct a survey among the website visitors and, when we do, we use the survey status cookie.</p>
</div>
{% endblock %}