{% extends 'base.html' %}

{% block title %}Registration{% endblock %}


{% block body %}
    <div class="container mx-auto" style="max-width: 600px">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">

                <div class="col">
                    <div class="card">
                        <div class="card-header bg-transparent mx-3">
                            <h4 class="mb-0">New User Registration</h4>
                        </div>
                        <div class="card-body">
                            <span class="text-danger">&nbsp;&nbsp;✱&nbsp;&nbsp;</span>Required field

                            <fieldset class="form-group">
                                <div class="form-floating mt-3">

                                    {% set email_invalid = "" %}

                                    {% if form.email.errors %}

                                        {% set email_invalid = " is-invalid" %}

                                    {% endif %}

                                    {{ form.email (size=40,class="form-control form-control-md" + email_invalid,placeholder="") }}
                                    <label for="{{ form.email.id }}" class="form-label" style="display: flex; align-items: center;">{{ form.email.label.text }}<span class="text-danger" style="font-size: 12px">&nbsp;✱</span></label>

                                    {% if form.email.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="form-floating mt-3">

                                    {% set password_invalid = "" %}

                                    {% if form.password.errors %}

                                        {% set password_invalid = " is-invalid" %}

                                    {% endif %}

                                    {{ form.password (size=25,class="form-control form-control-md" + password_invalid,placeholder="") }}
                                    <label for="{{ form.password.id }}" class="form-label" style="display: flex; align-items: center;">{{ form.password.label.text }}<span class="text-danger" style="font-size: 12px">&nbsp;✱</span></label>

                                    {% if form.password.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="form-floating mt-3">

                                    {% set confirm_invalid = "" %}

                                    {% if form.confirm.errors %}

                                        {% set confirm_invalid = " is-invalid" %}

                                    {% endif %}

                                    {{ form.confirm (size=25,class="form-control form-control-md" + confirm_invalid,placeholder="") }}
                                    <label for="{{ form.confirm.id }}" class="form-label" style="display: flex; align-items: center;">{{ form.confirm.label.text }}<span class="text-danger" style="font-size: 12px">&nbsp;✱</span></label>

                                    {% if form.confirm.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="form-floating mt-5">

                                    {% set first_name_invalid = "" %}

                                    {% if form.first_name.errors %}

                                        {% set first_name_invalid = " is-invalid" %}

                                    {% endif %}

                                    {{ form.first_name (size=40,class="form-control form-control-md" + first_name_invalid,placeholder="") }}
                                    {{ form.first_name.label }}

                                    {% if form.first_name.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.first_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="form-group my-3">
                                    {#                                    {{ form.surname_prefix (class="form-select form-select-md") }}#}

                                    {% set surname_prefix_invalid = "" %}

                                    {% if form.surname_prefix.errors %}

                                        {% set surname_prefix_invalid = " is-invalid" %}

                                    {% endif %}
                                    {#                                    <div class="form-floating">#}
                                    {#                                        {{ form.surname_prefix (class="form-select form-select-md w-100" + surname_prefix_invalid) }}#}
                                    {#                                        {{ form.surname_prefix.label }}#}
                                    {#                                    </div>#}
                                    {{ form.surname_prefix (class="form-select form-select-md" + surname_prefix_invalid) }}
                                    {% if form.surname_prefix.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.surname_prefix.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>


                                <div class="form-floating my-3">

                                    {% set surname_invalid = "" %}

                                    {% if form.surname.errors %}

                                        {% set surname_invalid = " is-invalid" %}

                                    {% endif %}

                                    {{ form.surname (size=40,class="form-control form-control-md" + surname_invalid,placeholder="") }}
                                    {{ form.surname.label }}

                                    {% if form.surname.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.surname.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="form-floating my-3">

                                    {% set phone_number_invalid = "" %}

                                    {% if form.phone_number.errors %}

                                        {% set phone_number_invalid = " is-invalid" %}

                                    {% endif %}

                                    {{ form.phone_number (size=40,class="form-control form-control-md" + phone_number_invalid,placeholder="") }}
                                    {{ form.phone_number.label }}

                                    {% if form.phone_number.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone_number.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group mt-3">
                                    {{ form.accept_tos(class="form-check-input") }} {{ form.accept_tos.label(class="form-check-label") }}<span
                                        class="text-danger" style="font-size: 12px">&nbsp;&nbsp;✱</span>
                                </div>

                                <div class="form-group my-3">

                                    {{ form.submit(class="btn btn-primary") }}
                                </div>

                            </fieldset>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}