{% extends 'base.html' %} <!Inherit from the base.html template>

{% block title %}Report CVD{% endblock %} <!Page title on browser tab>

<!--Body block contains the main content of the page-->

{% block body %}

<div class="container"> <!Puts the body content in a container to improve layout>
    <h2>Please complete the form below to submit your report</h2>

    <form action="" method="post" novalidate>
        {{form.csrf_token}}

        <p>
            {{form.hidden_tag()}} <!-- A hidden field which enables CSRF protection-->
            {{form.vulnerability.label}}<br>
            {{form.vulnerability}}

        </p>

        <p>
        {{form.explanation.label}}<br>
        {{form.explanation(cols="100", rows="6")}}
        </p> 


        <p>
        {{form.whyreport.label}}<br>
        {{form.whyreport(cols="100", rows="6")}}
        </p> 

        <p>
            {{form.domainip.label}}<br>
            {{form.domainip(cols="100", rows="1")}}
        </p> 
            
        </p>

        
            {{form.submit()}}
        </p>       


        </p>

    </form>


</div>
{% endblock %}