{% extends 'base.html' %} <!Inherit from the base.html template>

{% block title %}Report CVD{% endblock %} <!Page title on browser tab>

<!--Body block contains the main content of the page-->

{% block body %}

    <div class="container mx-auto" style="max-width: 700px">

        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="card-header bg-transparent mx-3">
                        <legend class="mb-0">Coordinated Vulnerability Disclosure Report</legend>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }} <!-- A hidden field which enables CSRF protection-->
                            <fieldset class="form-group">

                                <div class="mb-6">


                                    {{ form.vulnerability.label(class="form-label") }}:
                                    {% for subfield in form.vulnerability %}
                                        <div class="form-check">
                                            {{ subfield(class_='form-check-input') }}
                                            <label class="form-check-label"
                                                   for="{{ subfield.id }}">{{ subfield.label }}</label>
                                        </div>
                                    {% endfor %}

                                    {#
                                    <br>
                                    {{ form.vulnerability }}
                                 #}


                                </div>

                                <div class="my-3">
                                    {{ form.explanation.label(class="form-label") }}<br>
                                    {{ form.explanation(rows="6", class="form-control flex-grow-1 me-3") }}
                                </div>


                                <div class="my-3">
                                    {{ form.whyreport.label(class="form-label") }}<br>
                                    {{ form.whyreport(rows="6", class="form-control flex-grow-1 me-3") }}
                                </div>

                                <div class="my-3">
                                    {{ form.domainip.label(class="form-label") }}<br>
                                    {{ form.domainip(rows="1", class="form-control flex-grow-1 me-3") }}
                                </div>


                                {{ form.submit(class="btn btn-primary") }}

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}